.Button {
  font-family: 'Montserrat';
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  background: #1edb34;
  border-radius: 16px;
  display: flex;
  color: white;
  cursor: pointer;
  padding: 12px 27px;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in;
  outline: 0;
  border: none;
}

.Button:hover {
  background: #226801;
}

.Button svg {
  margin-left: 7px;
}